:root {
  --black: #08020D;
  --dark: #3C3B3D;
  --grey: #E0E0E0;
  --dark-grey: #CACACA;
  --green: #34C176;
  --orange: #F89202;
  --purple: #5328A1;
  --red: #95390C;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-size: 60px;
  line-height: 1.5em;
}

h2 {
  font-size: 38px;
  line-height: 1.5em;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
}

* {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  background-color: var(--black);
}

.music-header {
  position: absolute;
  top: 25px;
  width: 100%;
  font-size: 11px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.header-row {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, min-content) repeat(1, 1fr) repeat(1, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.heading {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.heading-link {
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("../images/logo.svg");
  content: "";
}

.list {
  display: flex;
  justify-self: left;
  flex-wrap: wrap;
  column-gap: 24px;
}

.list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style: none;
}

.list-item {
  height: 17px;
}

.nav {
  height: min-content;
}

.nav-link {
  color: var(--dark-grey);
}

.nav-link:hover {
  color: #ffffff;
  cursor: pointer;
}

.search {
  width: 248px;
  height: 25px;
  padding: 0 0 0 10px;
  color: #757575;
  text-transform: uppercase;
  background-color: var(--dark);
  border-radius: 50px;
  border: none;
}

.self-right {
  justify-self: right;
}

.main-section {
  padding: 200px 0 200px 0;
  width: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.main-section > .container > p {
  margin-top: 31px;
  margin-bottom: 17px;
}

.form-input {
  min-width: 273px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 0 0 20px;
  color: #ffffff;
  border: 2px solid var(--dark-grey);
  border-radius: 3px;
  background: none;
}

.form-subscription {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 570px;
}

.btn {
  display: block;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-access {
  width: 570px;
  height: 57px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background-color: var(--green);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.t-uppercase {
  text-transform: uppercase;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-size: 60px;
  line-height: 1.5em;
}

h2 {
  font-size: 38px;
  line-height: 1.5em;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
}

* {
  margin: 0;
}

p {
  margin: 0;
}

.pricing-section {
  margin: 0 auto;
  padding-top: 101px;
  max-width: 1240px;
}

.pricing-section > .container > h2 {
  margin-bottom: 45px;
}

.items {
  display: flex;
  column-gap: 50px;
  margin-bottom: 43px;
}

.pricing-item {
  padding: 24px 1.5rem 0 1.5rem;
  height: 615px;
  width: 366.6666666667px;
  border-radius: 1rem;
}

.pricing-item > h3 {
  margin-bottom: 200px;
  font-weight: 400;
}

.pricing-value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  width: 100%;
  font-size: 64px;
  line-height: 1em;
}

.currency {
  margin-left: 16px;
  font-size: 32px;
  line-height: 1.5em;
}

.btn-pricing {
  width: 100%;
  border: 1px solid #ffffff;
}

.pricing-footer {
  margin: 64px 0 64px 0;
  font-size: 12.8px;
  line-height: 150%;
}

.bg-subscribe-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-size: 60px;
  line-height: 1.5em;
}

h2 {
  font-size: 38px;
  line-height: 1.5em;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
}

* {
  margin: 0;
}

:root {
  --black: #08020D;
  --dark: #3C3B3D;
  --grey: #E0E0E0;
  --dark-grey: #CACACA;
  --green: #34C176;
  --orange: #F89202;
  --purple: #5328A1;
  --red: #95390C;
}

p {
  margin: 0;
}

.news-section h2 {
  margin-bottom: 48px;
}

.news-section h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5em;
  text-transform: capitalize;
}

.news-body > h3 {
  margin-bottom: 30px;
}

.news {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.news-section {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1240px;
}

.news-item {
  display: flex;
  column-gap: 50px;
  height: min-content;
  text-align: start;
}

.news-item > img {
  height: 286px;
  width: 575;
}

.news-item:nth-child(2n) > img {
  order: 1;
}

.news-body > p {
  color: var(--dark-grey);
}

.news-body {
  margin-bottom: 24px;
}

.news-item:nth-child(2n) > div > .news-body {
  margin-bottom: 16px;
}

.news-author {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 48px;
}

.news-author > span {
  font-size: 12px;
  line-height: 1.6em;
}

.author {
  color: var(--orange);
}

.date {
  color: var(--dark-grey);
}

.news-footer > .btn {
  width: min-content;
  height: 53px;
  padding: 16px 30px;
  white-space: nowrap;
  font-size: 12px;
  color: var(--dark-grey);
  border: 1px solid #CACACA;
}

@media (min-width: 1240px) {
  .music-header {
    min-width: 1200px;
  }

  .main-section {
    min-width: 1200px;
  }

  .pricing-section > .container {
    max-width: 1200px;
  }

  .news-section > .container {
    max-width: 1200px;
  }
}
@media (max-width: 811px) {
  .music-header {
    padding: 0 20px;
  }

  .header-row {
    display: block;
    height: auto;
  }

  .header-row > * {
    width: min-content;
  }

  .header-row > div {
    width: 100%;
  }

  .nav {
    margin-bottom: 18px;
  }

  .list {
    display: block;
    width: min-content;
    height: min-content;
  }

  .list-item {
    display: block;
    margin-bottom: 3px;
    height: 13px;
    line-height: 13px;
  }

  .heading {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .search {
    width: 100%;
  }

  .main-section {
    display: block;
    padding: 200px 20px 200px 20px;
    width: 100%;
  }

  .main-section > .container {
    margin-top: 50px;
    width: 100%;
  }

  .main-section > .container > p {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .form-subscription {
    column-gap: 0;
    margin: 0;
    width: 100%;
  }

  .container > * {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }

  .btn-access {
    width: 100%;
  }

  .mr-24 {
    margin-right: 0;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.5em;
  }

  h4 {
    font-size: 18px;
    line-height: 1.4em;
  }

  .main-section > div > p {
    margin: 16px 0;
  }

  .pricing-section > .container {
    margin: 0 20px;
  }

  .pricing-section > .container > h2 {
    margin-bottom: 46px;
  }

  .items {
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 40px;
  }

  .pricing-item {
    padding-top: 16px;
    height: 595px;
    width: 100%;
  }

  .news-section h2 {
    font-size: 18px;
  }

  .news-body > h3 {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .news {
    row-gap: 65px;
  }

  .news-section > .container {
    margin: 0 20px;
  }

  .news-item {
    flex-wrap: wrap;
  }

  .news-item > img {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }

  .news-item:nth-child(2n) > img {
    order: 0;
  }
}

/*# sourceMappingURL=style.css.map */
