@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
h1 {
  font-size: 60px;
  line-height: 1.5em;
}

h2 {
  font-size: 38px;
  line-height: 1.5em;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  color: #fff;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  background-color: #08020D;
}

.music-header {
  position: absolute;
  top: 25px;
  width: 100%;
  font-size: 11px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.header-row {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, min-content) repeat(1, 1fr) repeat(1, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.heading {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.heading-link {
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("../images/logo.svg");
  content: "";
}

.list {
  display: flex;
  justify-self: left;
  flex-wrap: wrap;
  column-gap: 24px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style: none;
}

.list-item {
  height: 17px;
}

.nav {
  height: min-content;
}

.nav-link {
  color: #CACACA;
}

.nav-link:hover {
  color: #fff;
  cursor: pointer;
}

.l-active {
  color: #fff;
}

.search {
  width: 248px;
  height: 25px;
  padding: 0 0 0 10px;
  color: #757575;
  text-transform: uppercase;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: none;
}

.self-right {
  justify-self: right;
}

.main-section {
  padding: 200px 0;
  width: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.main-section > .container > p {
  margin-top: 31px;
  margin-bottom: 17px;
}

.form-input {
  min-width: 273px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 0 0 20px;
  color: #fff;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background: none;
}

.form-subscription {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 570px;
}

.btn {
  display: block;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-access {
  width: 570px;
  height: 57px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #34C176;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.t-uppercase {
  text-transform: uppercase;
}

p {
  margin: 0;
}

.pricing-section {
  margin: 0 auto;
  padding-top: 101px;
  max-width: 1240px;
}

.pricing-section > .container > h2 {
  margin-bottom: 45px;
}

.items {
  display: flex;
  column-gap: 50px;
  margin-bottom: 43px;
}

.pricing-item {
  padding: 24px 1.5rem 0;
  height: 615px;
  width: 366.6666666667px;
  border-radius: 1rem;
}

.pricing-item > h3 {
  margin-bottom: 200px;
  font-weight: 400;
}

.pricing-value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  width: 100%;
  font-size: 64px;
  line-height: 1em;
}

.currency {
  margin-left: 16px;
  font-size: 32px;
  line-height: 1.5em;
}

.btn-pricing {
  width: 100%;
  border: 1px solid #fff;
}

.pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
  line-height: 150%;
}

.bg-subscribe-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

p {
  margin: 0;
}

.news-section h2 {
  margin-bottom: 48px;
}

.news-section h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5em;
  text-transform: capitalize;
}

.news-body > h3 {
  margin-bottom: 30px;
}

.news {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.news-section {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1240px;
}

.news-item {
  display: flex;
  column-gap: 50px;
  height: min-content;
  text-align: start;
}

.news-item > img {
  height: 286px;
  width: 575;
}

.news-item:nth-child(2n) > img {
  order: 1;
}

.news-body > p {
  color: #CACACA;
}

.news-body {
  margin-bottom: 24px;
}

.news-item:nth-child(2n) > div > .news-body {
  margin-bottom: 16px;
}

.news-author {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 48px;
}

.news-author > span {
  font-size: 12px;
  line-height: 1.6em;
}

.author {
  color: #F89202;
}

.date {
  color: #CACACA;
}

.news-footer > .btn {
  width: min-content;
  height: 53px;
  padding: 16px 30px;
  white-space: nowrap;
  font-size: 12px;
  color: #CACACA;
  border: 1px solid #CACACA;
}

.app-section {
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
  max-width: 1240px;
}

.app-section > .container > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.app-section h2 {
  margin-bottom: 48px;
}

.app-description {
  margin-top: 16px;
  text-align: start;
}

.app-description > p {
  margin-bottom: 16px;
}

.btn-app {
  padding: 16px 40px;
  width: min-content;
  color: #fff;
  font-size: 12.8px;
  line-height: 1.5em;
  background: #95390C;
  border-radius: 32px;
}

.footer-section {
  padding-top: 3.9rem;
  padding-bottom: 3rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-section h2 {
  font-size: 18px;
}

.footer-section > .container > .columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  margin-bottom: 72px;
  text-align: start;
}

.footer-section ul {
  padding: 0;
  list-style: none;
}

.footer-section ul li,
.footer-section a,
.footer-section p {
  color: #E0E0E0;
}

.footer-col > h2 {
  margin-bottom: 15px;
}

.footer-col-subscribe > div {
  display: flex;
  column-gap: 24px;
}

.footer-col-subscribe a {
  display: flex;
  align-items: center;
}

hr {
  color: #CACACA;
}

.footer-row {
  display: flex;
  column-gap: 16px;
  margin-top: 40px;
}

.footer-section a:hover {
  color: #fff;
}

.artist-section {
  padding: 200px 0;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.artist-section > .container {
  margin-top: 50px;
  margin-bottom: 23px;
  text-align: start;
}

.artist-section h1 {
  margin-bottom: 16px;
}

.artist-section p {
  margin-bottom: 48px;
}

.buttons {
  display: flex;
  column-gap: 24px;
}

.buttons > button {
  height: 62px;
  width: 200px;
  color: #fff;
  font-size: 12.8px;
  text-align: start;
  border: none;
}

.buttons img {
  margin-right: 16px;
  width: 20px;
  height: 20px;
  transform: translateY(25%);
  filter: invert(100%);
}

.btn-mix {
  background-color: #5328A1;
}

.btn-favorites {
  background-color: #95390C;
}

.popular-tracks-section {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1240px;
}

.popular-tracks-section h2 {
  margin-bottom: 48px;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.popular-track {
  display: flex;
  align-items: center;
}

.popular-track > img {
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

.track-info {
  text-align: start;
}

.popular-track h3,
.popular-track p {
  font-size: 12.8px;
  line-height: 19.2px;
}

.track-time {
  margin-left: auto;
  font-size: 12.8px;
}

.discography-section {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1240px;
}

.discography-section h2 {
  margin-bottom: 48px;
}

.discography {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
}

.discography-section > .container {
  text-align: start;
}

.discography-item > img {
  display: block;
  margin-bottom: 18px;
}

.discography-item h3 {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

.discography-item p {
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 1240px) {
  .music-header {
    min-width: 1200px;
  }

  .main-section {
    min-width: 1200px;
  }

  .pricing-section > .container {
    max-width: 1200px;
  }

  .news-section > .container {
    max-width: 1200px;
  }

  .app-section > .container {
    max-width: 1200px;
  }

  .footer-section > .container {
    max-width: 1200px;
  }
}
@media (max-width: 811px) {
  .container {
    margin: 0 20px;
  }

  .music-header {
    padding: 0 20px;
  }

  .header-row {
    display: block;
    height: auto;
  }

  .header-row > * {
    width: min-content;
  }

  .header-row > div {
    width: 100%;
  }

  .nav {
    margin-bottom: 18px;
  }

  .list {
    display: block;
    width: min-content;
    height: min-content;
  }

  .list-item {
    display: block;
    margin-bottom: 3px;
    height: 13px;
    line-height: 13px;
  }

  .heading {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .search {
    width: 100%;
  }

  .main-section {
    display: block;
    padding: 200px 20px;
    width: 100%;
  }

  .main-section > .container {
    margin: 0;
    margin-top: 50px;
    width: 100%;
  }

  .main-section > div > p {
    margin: 16px 0;
  }

  .main-section > .container > p {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .form-subscription {
    column-gap: 0;
    margin: 0;
    width: 100%;
  }

  .container > * {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }

  .btn-access {
    width: 100%;
  }

  .mr-24 {
    margin-right: 0;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.5em;
  }

  h4 {
    font-size: 18px;
    line-height: 1.4em;
  }

  .pricing-section > .container > h2 {
    margin-bottom: 46px;
  }

  .items {
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 40px;
  }

  .pricing-item {
    padding-top: 16px;
    height: 595px;
    width: 100%;
  }

  .news-section > .container h2 {
    font-size: 18px;
  }

  .news-body > h3 {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .news {
    row-gap: 65px;
  }

  .news-item {
    flex-wrap: wrap;
  }

  .news-item > img {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }

  .news-item:nth-child(2n) > img {
    order: 0;
  }

  .app-section > .container > div {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .app-img {
    grid-row: 1;
  }

  .app-section .app-description > p {
    margin-bottom: 16px;
  }

  .footer-section > .container {
    margin: 0 20px;
  }

  .footer-section > .container > .columns {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, min-content);
    row-gap: 30px;
    margin-bottom: 75px;
  }

  .footer-section .footer-col-subscribe h2 {
    margin-bottom: 19px;
  }

  .footer-row {
    flex-direction: column;
    row-gap: 16px;
    text-align: start;
  }

  .footer-row > a {
    width: calc(100% - 20px);
  }

  .artist-section > .container {
    margin-top: 25px;
  }

  .artist-section .buttons {
    flex-direction: column;
    row-gap: 24px;
  }

  .tracks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .discography-item > * {
    width: 138px;
  }

  .discography-item > img {
    width: 137px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
