//adaptive for desktop viewport
@media (min-width: 1240px) {
  .music-header {
    min-width: 1200px;
  }

  .main-section {
    min-width: 1200px;
  }

  .pricing-section > .container {
    max-width: 1200px;
  }

  .news-section > .container {
    max-width: 1200px;
  }

  .app-section > .container {
    max-width: 1200px;
  }

  .footer-section > .container {
    max-width: 1200px;
  }
}

//adaptive for mobile viewport
@media (max-width: 811px) {
  //header-section
  .container {
    margin: 0 20px;
  }

  .music-header {
    padding: 0 20px;
  }


  .header-row {
    display: block;
    
    height: auto;
  }

  .header-row > * {
    width: min-content;
  }

  .header-row > div {
    width: 100%;
  }

  .nav {
    margin-bottom: 18px;
  }

  .list {
    display: block;

    width: min-content ;
    height: min-content;
  }

  .list-item {
    display: block;

    margin-bottom: 3px;
    height: 13px;

    line-height: 13px;
  }

  .heading {
    margin-right: 0;
    margin-bottom: 17px;
  }
  
  .search {
    width: 100%;
  }

  //main-section
  .main-section {
    display: block;
    padding: 200px 20px;
    width: 100%;
  }

  .main-section > .container {
    margin: 0;
    margin-top: 50px;
    width: 100%;
  }

  .main-section > div > p {
    margin: 16px 0;
  }

  .main-section > .container > p {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .form-subscription {
    column-gap: 0;
    margin: 0;
    width: 100%;
  }

  .container > * {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }

  .btn-access {
    width: 100%;
  }

  .mr-24 {
    margin-right: 0;
  }

  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.5em;
  }

  h4 {
    font-size: 18px;
    line-height: 1.4em;
  }

  //pricing-section
  .pricing-section > .container > h2 {
    margin-bottom: 46px;
  }

  .items {
    flex-direction: column;
    row-gap: 50px;

    margin-bottom: 40px;
  }

  .pricing-item {
    padding-top: 16px;
    height: 595px;
    width: 100%;
  }

  //news-section
  .news-section > .container h2 {
    font-size: 18px;
  }

  .news-body > h3 {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .news {
    row-gap: 65px;
  }

  .news-item {
    flex-wrap: wrap;
  }

  .news-item > img {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }

  .news-item:nth-child(2n) > img{
    order: 0;
  }

  //app-section
  .app-section > .container > div {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .app-img {
    grid-row: 1;
  }

  .app-section .app-description > p {
    margin-bottom: 16px;
  }

  //footer-section
  .footer-section > .container {
    margin: 0 20px;
  }

  .footer-section > .container > .columns {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, min-content);
    row-gap: 30px;
  
    margin-bottom: 75px;
  }

  .footer-section .footer-col-subscribe h2 {
    margin-bottom: 19px;
  }

  .footer-row {
    flex-direction: column;
    row-gap: 16px;

    text-align: start;
  }

  .footer-row > a {
    width: calc(100% - 20px);
  }

  //artist-section
  .artist-section > .container {
    margin-top: 25px;
  }

  .artist-section .buttons {
    flex-direction: column;
    row-gap: 24px;
  }

  //popular-tracks-section
  .tracks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  //discography-section
  .discography-item > * {
    width: 138px;
  }

  .discography-item > img {
    width: 137px;
  }

  //similar-section
  .similar-item > * {
    width: 137px;
  }
}
