.app-section {
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
  max-width: 1240px;
}

.app-section > .container > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.app-section h2 {
  margin-bottom: 48px;
}

.app-description {
  margin-top: 16px;
  text-align: start;
}

.app-description > p {
  margin-bottom: 16px;
}

.btn-app {
  padding: 16px 40px;
  width: min-content;
  color: #fff;
  font-size: 12.8px;
  line-height: 1.5em;
  background: $red;
  border-radius: 32px;
}
