@import "variables.scss";
@import "general.scss";

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
  display: flex;
  justify-content: center;

  margin: 0;

  color: #ffffff;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;

  background-color: var(--black);
  overflow-x: hidden;
}

.music-header {
  position: absolute;
  top: 25px;

  font-size: 11px;

  text-transform: uppercase;
}

.nav {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr) repeat(1, 248px);
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-item {
  height: min-content;
}

.list > .list-item:hover {
  color: #ffffff;

  cursor: pointer;
}

.title {
  position: relative;

  color: #ffffff;
  white-space: nowrap;
  
  margin-left: 40px;
  margin-right: 66px;
}

.title::before {
  position: absolute;
  top: 0;
  left: -40px;

  width: 24px;
  height: 24px;

  background-size: cover;
  background-image: url('../images/logo.svg');
  content: "";
}

.search {
  width: 238px;
  height: 25px;

  padding: 0 0 0 10px;
  color: #757575;
  text-transform: uppercase;

  background-color: var(--dark);
  border-radius: 50px;
  border: none;
}

.list {
  display: flex;
  justify-content: space-between;
  justify-self: left;
  flex-wrap: wrap;
  column-gap: 24px;

  color: var(--dark-grey);
}

.list > * {
  flex: 1 5;
}

.justify-self {
  justify-self: right;
}

@media screen and (min-width: 1240px) {
  .music-header {
    min-width: 1200px;
  }
}

@media screen and (max-width: 414px) {
  body {
    padding: 0 20px;
  }

  .music-header {
    width: 374px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    
    height: auto;
  }

  .list {
    margin-bottom: 18px;
  }

  .list > * {
    flex: none;
  }

  li {
    display: block;
    width: 100%;
  }

  .title {
    margin-bottom: 23px;
  }
  
  .search {
    width: calc(100% - 10px);
  }

  .nav > div {
    width: calc(100% - 10px);
  }
}

.main-section {
  padding: 200px 0 200px 0;

  width: 100vw;

  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 60px;
  line-height: 1.5em;
}

h2 {
  font-size: 38px;
  line-height: 1.5em;
}

h1, h2 {
  margin: 0;
}

.form-subscription {
  text-align: center;
}

.form-subscription > p {
  margin-top: 31px;
  margin-bottom: 17px;
}

.form-input {
  min-width: 246px;
  min-height: 50px;

  margin-bottom: 1.5rem;
  padding: 0 0 0 20px;

  color: #ffffff;

  border: 2px solid var(--dark-grey);
  border-radius: 3px;
  background: none;
}

.mr-24 {
  margin-right: 24px;
}

.access {
  padding: 20px 30px;

  width: 570px;
  height: 57px;

  color: #ffffff;

  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.t-uppercase {
  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .main-section {
    min-width: 1200px;
  }
}

@media (max-width: 414px) {
  .main-section {
    display: block;
    padding: 250px 20px 201px 20px;
    width: 100%;
  }

  .form-subscription {
    width: 374px;
  }

  .form-subscription > * {
    width: 100%;
  }

  .form-input {
    width: calc(100% - 24px);
  }

  .mr-24 {
    margin-right: 0;
  }

  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }

  .form-subscription > p {
    margin: 16px 0;
  }
}
