.artist-section {
  padding: 200px 0;

  @include image(Morten Harket);
}

.artist-section > .container {
  margin-top: 50px;
  margin-bottom: 23px;
  text-align: start;
}

.artist-section h1 {
  margin-bottom: 16px;
}

.artist-section p {
  margin-bottom: 48px;
}

.buttons {
  display: flex;
  column-gap: 24px;
}

.buttons > button {
  height: 62px;
  width: 200px;
  color: #fff;
  font-size: 12.8px;
  text-align: start;
  border: none;
}

.buttons img {
  margin-right: 16px;
  width: 20px;
  height: 20px;
  transform: translateY(25%);
  filter: invert(100%);
}

.btn-mix {
  background-color: $purple;
}

.btn-favorites {
  background-color: $red;
}
