.footer-section {
  padding-top: 3.9rem;
  padding-bottom: 3rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-section h2 {
  font-size: 18px;
}

.footer-section > .container > .columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;

  margin-bottom: 72px;
  
  text-align: start;
}

.footer-section ul {
  padding: 0;

  list-style: none;
}

.footer-section ul li,
.footer-section a,
.footer-section p {
  color: $grey;
}

.footer-col > h2 {
  margin-bottom: 15px;
}

.footer-col-subscribe > div {
  display: flex;
  column-gap: 24px;
}

.footer-col-subscribe a {
  display: flex;
  align-items: center;
}

hr {
  color: $dark-grey;
}

.footer-row {
  display: flex;
  column-gap: 16px;

  margin-top: 40px;
}

.footer-section a:hover {
  color: #fff;
}
