@import "general.scss";
@import "variables.scss";

html {
  font-size: 24px;
}

html > * {
  font-size: 16px;
}

.footer-section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-section h2 {
  font-size: 18px;
}

.footer-section > .container > .columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;

  margin-bottom: calc(72px + 40px + 1px);
  
  text-align: start;
}

.footer-section ul {
  padding: 0;

  list-style: none;
}

.footer-section ul li,
.footer-section a,
.footer-section p {
  color: var(--grey);
}

.footer-col > h2 {
  margin-bottom: 15px;
}

hr {
  position: absolute;
  left: 0;

  margin-top: -41px;

  width: 100%;

  color: var(--dark-grey);
}

.footer-col-subscribe > div {
  display: flex;
  column-gap: 24px;
}

.footer-row {
  text-align: start;
}

.footer-row {
  display: flex;
  column-gap: 16px;
}

.footer-section a:hover {
  color: #ffffff;
}
