@mixin image($name) {
  background-image: url("../images/#{$name}.png");
  background-position: center;
  background-size: cover;
}

@mixin button {
  padding: 20px 30px;
  border-radius: 5px;
}

$breakpoints: (
  breakpoint-mobile: 414px,
  breakpoint-desktop: 1240px,
);

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

h1 {
  font-size: 60px;
  line-height: 1.5em;
}

h2 {
  font-size: 38px;
  line-height: 1.5em;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  color: #fff;
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  background-color: $black;
}
