.music-header {
  position: absolute;
  top: 25px;

  width: 100%;

  font-size: 11px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.header-row {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, min-content) repeat(1, 1fr) repeat(1, 1fr);
  align-items: center;

  margin: 0 auto;
  max-width: 1200px;
}

.heading {
  display: flex;
  align-items: center;
  
  margin-right: 90px;
}

.heading-link {
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  margin-right: 16px;
  width: 24px;
  height: 24px;

  background-size: cover;
  background-image: url('../images/logo.svg');
  content: "";
}

.list {
  display: flex;
  justify-self: left;
  flex-wrap: wrap;
  column-gap: 24px;
  margin: 0;
  padding: 0;

  font-weight: bold;
  list-style: none;
}

.list-item {
  height: 17px;
}

.nav {
  height: min-content;
}

.nav-link {
  color: $dark-grey;
}

.nav-link:hover {
  color: #fff;

  cursor: pointer;
}

.search {
  width: 248px;
  height: 25px;

  padding: 0 0 0 10px;
  color: #757575;
  text-transform: uppercase;

  background-color: $dark;
  border-radius: 50px;
  border: none;
}

.self-right {
  justify-self: right;
}
