.main-section {
  padding: 200px 0;
  width: 100%;

  @include image(banner);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.main-section > .container > p {
  margin-top: 31px;
  margin-bottom: 17px;
}

.form-input {
  min-width: 273px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 0 0 20px;
  color: #fff;
  border: 2px solid $dark-grey;
  border-radius: 3px;
  background: none;
}

.form-subscription {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 570px;
}

.btn {
  display: block;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-access {
  width: 570px;
  height: 57px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: $green;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.t-uppercase {
  text-transform: uppercase;
}
