.popular-tracks-section {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1240px;
}

.popular-tracks-section h2 {
  margin-bottom: 48px;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.popular-track {
  display: flex;
  align-items: center;
}

.popular-track > img {
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

.track-info {
  text-align: start;
}

.popular-track h3,
.popular-track p {
  font-size: 12.8px;
  line-height: 19.2px;
}

.track-time {
  margin-left: auto;
  font-size: 12.8px;
}
